.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray);
  opacity: 0.5;
}

.survey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: 400px;
  height: 450px;
  border-radius: 20px;
}

.survey header {
  margin-bottom: 1rem;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 350px;
  padding: 10px;
}

.survey header strong {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.survey__form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 350px;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.survey__form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.survey__form .date {
  border-radius: 5px;
  border: 1px solid var(--color-gray);
  padding: 15px;
  transition: 1s all;
}

.form__label {
  margin-bottom: 5px;
}

.survey__form ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.survey__form ul label {
  margin-right: 5px;
  padding: 20px;
  min-width: 100px;
  height: 50px;
  color: #000;
}

.form__button-container {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
}

.form__cancel,
.form__submit,
.disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 45%;

  border-radius: 15px;
  height: 50px;
  border: none;
}

.form__cancel {
  background-color: #f7f7f7;
}

.form__submit,
.disabled {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 1s all;
}

.form__submit {
  background-color: #111;
  color: #fff;
  cursor: pointer;
}

.form__submit:hover {
  background-color: #b1b1b1;
  color: #fff;
}

.form__submit img,
.disabled img {
  margin-bottom: 10px;
}

.disabled {
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  background-color: #fff;
}

.selected {
  border: 1px solid #111;
  color: #111;
  padding: 15px;
  transition: 1s all;
}
