.card {
  position: fixed;
  top: 130px;
  display: flex;
  justify-content: center;
  align-content: center;
  backdrop-filter: blur(10px);
  width: 50vw;
  max-width: 500px;
  max-height: 700px;
  height: 100%;
  background-color: #e5ebfac3;
  border-radius: 15px;
}
