.card {
  position: fixed;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  width: 50vw;
  min-width: 500px;
  max-width: 500px;
  max-height: 700px;
  height: 100%;
  background-color: #e5ebfac3;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .card {
  }
}
