.input-container {
  position: relative;
  width: 100%;
}

.input-container label {
  position: absolute;
  transition: all 0.3s;
  font-weight: 500;
}

.input-container input {
  width: 100%;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid var(--color-gray);
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}

.input-container .not-focus {
  font-size: 0.8rem;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input-container .focus {
  font-size: 0.8rem;
  top: 15px;
  left: 10px;
  color: var(--color-gray);
}
