.radio-container input {
  display: none;
}

.radio-container label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s all;
}

.radio-container .checked {
  background-color: #111;
  color: #fff;
}
