.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.main__header {
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 300px;
  min-height: 170px;
}

.main__header section {
  width: 100%;
  text-align: right;
}

.main__header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.main__header strong {
  font-weight: 700;
}

.main__chat-container {
  width: 55%; /* 우측 섹션 너비 */
  height: 100vh;
  background-image: url(../../../assets/images/salad.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: var(--color-baby-blue);
}

.container__chat {
  padding: 50px;
}
