.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 300px;
}

.forgot-password section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.forgot-password section input {
  width: 300px;
}
