.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
.login section {
  width: 100%;
}

.login input {
  width: 100%;
  padding: 10px;
  height: 50px;
}
.nav {
  text-align: right;
  width: 100%;
}

.nav a {
  position: relative;
  display: inline-block;
}

.nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #111;
  transition: width 0.5s ease-in-out;
}

.nav a:hover::after {
  width: 100%;
}

.nav a strong {
  font-weight: 600;
}

.container__password {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
