.background {
  width: 55%; /* 우측 섹션 너비 */
  height: 100vh;
  background-image: url(../../../assets/images/salad.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: var(--color-baby-blue);
}

.chat__form-container {
  position: relative;
  height: 100%;
}

.chat__form-container .chat__form {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__wrap {
  position: relative;
  height: 55px;
}

.chat__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form__wrap input {
  width: 500px;
  height: 55px;
  border-radius: 15px;
}

.form__submit {
  position: absolute;
  right: 10px;
  top: 2.5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-black);
  transition: 1s all;
}

.form__submit:hover {
  background-color: var(--color-gray);
}
