.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/images/salad.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: var(--color-baby-blue);
}

.chat__form-container {
  height: 500px;
}

.form__wrap {
  position: relative;
  height: 55px;
}

.chat__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 600px;
  height: 300px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.form__wrap input {
  width: 500px;
  height: 55px;
  border-radius: 15px;
}

.form__submit {
  margin-top: 3rem;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 500px;
  background-color: var(--color-black);
  transition: 1s all;
}

.form__submit:hover {
  background-color: var(--color-gray);
}

.radio-group {
  display: flex;
}

.chat__form section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0.3rem;
}

.chat__form section strong {
  width: 100px;
}

.answer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
  height: 300px;
  margin: 0.3rem;
}
